@keyframes flicker {
    0% {stroke-dasharray: 0.5px, 0.5px;}
    20% {stroke-dasharray: none;}
    50% {stroke-dasharray: 0.5px, 0.5px;}
    71% {stroke-dasharray: none;}
    72% {stroke-dasharray: 0.5px, 0.5px;}
    73% {stroke-dasharray: none;}
    74% {stroke-dasharray: 0.5px, 0.5px;}
    75% {stroke-dasharray: none;}
    76% {stroke-dasharray: 0.5px, 0.5px;}
    77% {stroke-dasharray: none;}
    78% {stroke-dasharray: 0.5px, 0.5px;}
    79% {stroke-dasharray: none;}
    100% {stroke-dasharray: 0.5px, 0.5px;}
}

:root {
    --c-body: #ac97a5;
    --c-surface: #1a1a1a;
    --c-accent: #d4273e;
    --c-body-light: #d7d7d7;
    --c-shadow: #0000006b;

    --f-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --f-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --f-mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--c-body);
    background: var(--c-surface);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
}

h1, span {
    font-family: var(--f-mono);
    user-select: none;
}

// It is recommended to keep every child to main at position absolute
main {
    position: relative;
    padding: 20px;
    margin: 20px;
    min-height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 50px var(--c-shadow);
    background-image: url("./assets/grid.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 350px;
        height: auto;
        z-index: 1;
        gap: 50px;
        user-select: none;
        pointer-events: none;

        img {
            width: inherit;
            user-select: none;
            pointer-events: none;
            filter: drop-shadow(10px 10px 5px var(--c-shadow));
        }
    }

    .splash-art-selectors {
        position: absolute;
        bottom: 10px;

        button {
            height: 30px;
        }
    }
}

footer {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}

#NICOLETTE {
    fill: none;
    stroke: var(--c-accent);
    stroke-width: 0.1px;
    // stroke-dasharray: 0.5px, 0.5px;
    animation: flicker 4s infinite;
}

.svg-nicolette-banner {
    position: absolute;
    border: 1px dashed var(--c-accent);
    padding: 20px;
    width: calc(100% - 150px);
    cursor: pointer;

    &:hover #NICOLETTE {
        stroke-dasharray: none;
        animation: none;
    }
    &:active #NICOLETTE {
        fill: var(--c-accent);
    }
}

.slanted-stripe-hero-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    user-select: none;
    pointer-events: none;

    div {
        height: 60px;
    }
}

.slanted-hero {
    fill: var(--c-surface);

    text {
        font-family: monospace;
        font-size: 50px;
        fill: var(--c-body);
    }

    .slanted-hero__index {
        fill: var(--c-accent);
    }
}

.bulletdiamond {

    &__bullets {
        fill: var(--c-body);
        // fill: none;
        // stroke: var(--c-body);
        // stroke-width: 10px;
    }
    &__diamond-inner {
        // fill: var(--c-body);
        fill: none;
        // stroke: var(--c-body);
        // stroke-width: 5px;
    }
    &__diamond-outer {
        // fill: var(--c-body);
        fill: none;
    }
}

@media screen and (max-width: 1024px) { // Cover the page with viewport message on small screens and windows
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--c-surface);
        z-index: 99;
    }
}